﻿<%@ Page Title="" Language="C#" MasterPageFile="Site.Master" AutoEventWireup="true" CodeBehind="ObjectiveTypes.aspx.cs" Inherits="Appraisals.Admin.ObjectiveTypesWebForm" %>
<asp:Content ID="Content1" ContentPlaceHolderID="MainContent" runat="server">
</asp:Content>
